{% extends 'base.html' %}


{% block title %}
Create note
{% endblock title %}

{% block style %}

{% endblock style %}


{% block contents %}

    <div class="">
        <h1>You successfully logged out!!</h1><br><br>
        <footer class="">
            <p class="">
                <a href="">
                    <button class="">
                        Login
                    </button>
                </a>
            </p>
            <p class="">
                <a href="">
                    <button class="">
                        Register
                    </button>
                </a>
            </p>
        </footer>
    </div>

{% endblock contents %}