
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>

    {% block title %}
        Phototopia

    {% endblock title %}
  </title>

    {% block styles %}
    {% endblock styles %}
</head>

<body>

  <button>
    <a href="{% url 'home' %}">Home</a>
  </button>
  <br>
  <button>
    <a href="{% url 'login' %}">'login'</a>
  </button><br>
  <button>
    <a href="{% url 'logout' %}">'logout'</a>
  </button><br>
  <button>
    <a href=""></a>
  </button><br><br>



  <a href="{% url 'signup' %}">
    <button class="">
        signup
    </button>
</a>
<br><br>

<a href="">
  <button class="">
      Login
  </button>
</a>
<br><br>


<a href="">
  <button class="">
      Login
  </button>
</a>
<br><br>
  This is the body of the main html file <br>
  {% block contents %}
  

  {% endblock contents %}

</body>

</html>